<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<div>
  <p>Greek lamb, tomato and feta orzo</p><br><br>
  <img src="fb5a0d0b752a78e3177759479703185a.jpg" alt="Greek lamb" style="width:128px;height:128px;"><br><br>
  <p>Gentle spicing and the flavours of bay and oregano give this simple dish a beautiful nuance.</p>
  <p>Prep 15 min</p>
  <p>Cook 55 min</p>
  <p>Serves 4-6</p>
  <p>2 tbsp olive oil</p>
  <p>400g lamb mince</p>
  <p>Salt and black pepper</p>
  <p>2 large onion, peeled and chopped</p>
  <p>3 garlic cloves, peeled and chopped</p>
  <p>1 tsp paprika</p>
  <p>2 tsp ground cinnamon</p>
  <p>½ tsp nutmeg</p>
  <p>2 bay leaves</p>
  <p>2 tsp dried oregano</p>
  <p>200ml red wine</p>
  <p>2 x 400g cans chopped tomatoes</p>
  <p>350g orzo</p>

</div>
</body>
</html>